.cartStyle {
    width: 400px;
    height: 90vh;
    background-color: rgb(255, 253, 252);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9;
    padding: 20px;
    transition: .5s ease-in-out;
    overflow-y: scroll;
    
}

.close {
    transform: translateY(-1000PX);
}
.open{
    transform: translateY(0);

}
.X{
    cursor: pointer;
}
@media (max-width:991px) {
.cartStyle {
    width: 100%;
    height: 100vh;
}
}
.cartNav{
    display: flex;
    justify-content: space-between;
    padding-bottom:7px ;
    border-bottom:1px solid #e5e7eb ;
}
.cartqun {
    background-color: black !important;
    width: 90px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    color: white;

}
.cartqun button {
    background-color: black;
    color: white;
    border: none ;
}
.cartqun p {
margin-top: 3px;
}
.img-container {
    position: relative;
}
.remove {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease-in-out;
}
.img-container:hover .remove{
    opacity: .7;
}
